<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SATrabzon</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="SATrabzon">
        <meta property="og:description" content="SATrabzon vocabulary questions.">
        <meta property="og:image" content="{{ url_for('static', filename='image.png') }}">
        <meta property="og:url" content="https://satrabzon.pythonanywhere.com">
        <meta name="description" content="SATrabzon vocabulary questions.">
        <meta name="keywords" content="SATrabzon, SAT, vocabulary">
        <meta name="author" content="Ehmed Qemberli">
    </head>
    <body>
        <div id="container">
            <fieldset>
                <legend>Select sets</legend>
                {% for package in packages %}
                    <div class="package">
                        <div>
                            <input type="checkbox" class="meta" id="{{ package[0] }}" />
                            <label for="{{ package[0] }}">
                                {% for word in package[0].split('-') %}
                                    {{ word|capitalize }}
                                {% endfor %}
                            </label>
                            <button id="{{ package[0] }}" class="opener">Show sets</button>
                        </div>
                        <div class="panel" id="panel-{{ package[0] }}">
                            {% for i in range(package[1]|int) %}
                                <div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="{{ package[0] }}-{{ i }}" name="sets" value="{{ package[0] }}-{{ i }}" onchange="change(this)" />
                                    <label for="{{ package[0] }}-{{ i }}">
                                        Set {{ i + 1 }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <a href="/">SATrabzon©, Since 28.02.2026, Vocabulary Preparation</a>
                <hr>
                <div id="generate-row">
                    <input id="pin-box" spellcheck="false" placeholder="Vocab pin" autocomplete="off">
                    <button id="generate" onclick="generate()">Generate</button>
                </div>
                <div>
                    <button id="start" onclick="start()">Start</button>
                </div>
            </fieldset>
            <div id="content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <script>
            btns = document.querySelectorAll('button.opener')
            for (btn of btns){
                btn.addEventListener("click", function (){
                    panel = document.querySelector('#' + CSS.escape(`panel-${this.id}`))
                    if (panel.style.display === "block") {
                        document.querySelector('button#' + CSS.escape(`${this.id}`)).innerHTML = 'Show sets'
                        panel.style.display = "none"
                    } else {
                        document.querySelector('button#' + CSS.escape(`${this.id}`)).innerHTML = 'Hide sets'
                        panel.style.display = "block"
                    }
                })
            }
            checks = document.querySelectorAll('input[type=checkbox].meta')
            dict = {}
            for (check of checks){
                check.addEventListener("change", function (){
                    panel = document.querySelectorAll('#' + CSS.escape(`panel-${this.id}`) + ' input')
                    for (set of panel) set.checked = this.checked
                    if (this.checked) dict[this.id] = panel.length
                    else dict[this.id] = 0
                })
            }
            generate = async () => {
                checkedBoxes = document.querySelectorAll('input[name="sets"]:checked')
                if (checkedBoxes.length > 0){
                    values = Array.from(checkedBoxes).map(cb => cb.value)
                    data = {included: values}
                    response = await fetch('/generate', {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)})
                    document.querySelector('#pin-box').value = await response.json()
                }
            }
            start = async() => {
                current_pin = "{{ pin }}"
                if (current_pin.length > 0)
                    await fetch('/clear', {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({pin: current_pin})})
                pin = document.querySelector('#pin-box').value
                if (pin.length > 0) window.location.href = `/mainloop/${pin}/0`
            }
            change = (element) => {
                id = element.id
                id = id.substring(0, id.lastIndexOf('-'))
                if (dict[id] == undefined) dict[id] = 0
                if (element.checked) dict[id] ++;
                else dict[id] --;
                parent = document.querySelector('#' + CSS.escape(`${id}`))
                panel = document.querySelectorAll('#' + CSS.escape(`panel-${id}`) + ' input')
                if (dict[id] == 0) parent.checked = false
                else if (dict[id] == panel.length){
                    parent.indeterminate = false
                    parent.checked = true
                }
                else parent.indeterminate = true
            }
        </script>
    </body>
</html>