{% extends 'base.html' %}
{% block content %}
{% set alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
<fieldset id="content-box">
    <legend>Question {{ index + 1 }}</legend>
    <button id="question-button" onclick="prev_question()">Previous question</button>
    <button id="question-button" onclick="next_question()">Next question</button>
    <div id="question-box">
        <p><b>{{ index + 1 }}.</b> {{ question[0] }}</p>
        {% for i in range(1,question|length - 2) %}
            <button class="option-button" id="btn-{{ i }}" text-align="justify"><b>{{ alphabet[i - 1] }}. </b>{{ question[i][1 + (question[-1] == 2)] }}</button><br>
        {% endfor %}
    </div>
</fieldset>
<script>
    document.querySelector('#pin-box').value = '{{ pin }}'
    dict = {}
    fill = async () => {
        response = await fetch('/selected/{{ pin }}')
        checkboxes = await response.json()
        for (checkbox of checkboxes){
            element = document.querySelector('#' + CSS.escape(checkbox))
            id = checkbox.substring(0, checkbox.lastIndexOf('-'))
            if (dict[id] == undefined) dict[id] = 0
            dict[id] ++;
            parent = document.querySelector('#' + CSS.escape(`${id}`))
            panel = document.querySelectorAll('#' + CSS.escape(`panel-${id}`) + ' input')
            if (dict[id] == 0) parent.checked = false
            else if (dict[id] == panel.length){
                parent.indeterminate = false
                parent.checked = true
            }
            else parent.indeterminate = true
            element.checked = true
        }
    }
    prev_question = () => {
        if (Number("{{ index - 1 }}") >= 0)
            window.location.href = '/mainloop/{{ pin }}/{{ index - 1 }}'
    }
    next_question = () => {
        window.location.href = '/mainloop/{{ pin }}/{{ index + 1 }}'
    }
    op_btns = document.querySelectorAll('.option-button')
    question = {{ question | tojson }}
    done = false
    for (btn of op_btns){
        btn.addEventListener('click', function(){
            if (!done){
                for ([ix, oth] of op_btns.entries()){
                    if (question[6] < 2)
                        oth.innerHTML += `<br><br>&nbsp;&nbsp;&nbsp;&nbsp;<i>${question[ix + 1][2]}</i><br><br>`
                    else
                        oth.innerHTML += `<br><br>&nbsp;&nbsp;&nbsp;&nbsp;<i>${question[ix + 1][1]}</i><br><br>`
                }
                if (this.id != `btn-${question[question.length - 2] + 1}`){
                    this.style.borderColor = 'red'
                    this.style.borderWidth = '2px'
                }
                document.querySelector(`#btn-${question[question.length - 2] + 1}`).style.borderColor = 'green'
                document.querySelector(`#btn-${question[question.length - 2] + 1}`).style.borderWidth = '2px'
                done = true
            }
        })
    }
    fill()
</script>
{% endblock content %}